{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ACDEK|Upload</title>
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
	<script src="https://kit.fontawesome.com/4d3ebe1415.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Main_css.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/IP_css.css' %}">
	<link rel="shortcut icon" href="{% static 'images/Lo.png' %}">
</head>
<body>
	<ul>
		<li><img src="{% static 'images/Lo.png' %}" class="Lg"></li>
		<li><a href="{% url 'Home' %}"><ul style="padding: 0em; margin: 0em;"><li style="float: none;margin: 0;padding: 0;"><p style="background:transparent; display: inline;margin:0; padding:0; padding-left:0.5em;font-family: 'Poppins', sans-serif;color: white;font-size: 2em;">ACDEK</p></li><li style="padding: 0; margin: 0; float:right;"><p style="display: inline;margin:0; padding:0; padding-left:0.5em;background:transparent;font-family: 'Poppins', sans-serif;color: white;font-size: 1em;">by JOYBOY</p></li></ul></a>
	</ul>
	<div style="margin-top: 2em;">
    <form>
    	<p style="display:inline-block;">UPLOAD IMAGE: </p><input type="file" name="dt" accept="image/*" style="display:inline-block;"><br>
    	<input type="Submit" value="SUBMIT" style="display:inline-block;" class="sum">
    </form></div>
</body>
</html>